@font-face {
    font-family: Theinhardt-Medium;
    src: url('../fonts/Theinhardt-Medium.otf');
}

@font-face {
    font-family: dincond-bold;
    src: url('../fonts/dincond-bold.otf');
}


@font-face {
    font-family: Theinhardt-Bold;
    src: url('../fonts/Theinhardt-Bold.otf');
}

*{
  font-family: dincond-bold;
}
html, body {
  overflow: hidden;
}
.icon-bar {
  background: #556681;
}
.navbar{
  padding: 10px 15px;
}
.navbar-nav > li > a:hover {
  background: transparent;
  color: #1e76ff;
}
.navbar-brand{
  font-family: dincond-bold;
  font-size: 25px;
  padding-right: 20px;
}
.navbar-brand:hover{
  color: #1e76ff
}
#logo{
  height: 40px;
}
.navbar-brand ,.nav li a {
  color: #7087ab;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  -webkit-transition: all 1s cubic-bezier(0,.91,.3,.97);
  transition: all 1s cubic-bezier(0,.91,.3,.97);
}

.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.background:first-child {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
}
.background:first-child .content-wrapper {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
}
.background:nth-child(2) {
    -webkit-transform: translateY(82vh);
          transform: translateY(82vh);

}
.background:nth-child(3) {

}

/* Set stacking context of slides */
.background:nth-child(1) {
  background-color: #d4dbe5;
  z-index: 1;
}
.background:nth-child(2) {
  background-color: #394456;
  z-index: 2;
}
.background:nth-child(3) {
  background-color: #bdd8ea;
  z-index: 3;
}
.background:nth-child(4) {
  z-index: 4;
  background-color: #fff;
}
.background:nth-child(5) {
  z-index: 5;
  background-color: #0e0e0e;
}

.background:nth-child(6) {
  z-index: 6;
  background-color: #fff;
}b2e5bd

.content-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  -webkit-transform: translateY(-80vh);
          transform: translateY(-80vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(.15,.83,.96,.98);
  transition: all 1s cubic-bezier(.15,.83,.96,.98);
}

.links > a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 2.5vh;
}
.links > a:hover {
  text-decoration: none;
  color: #1e76ff;
}
.links-dark, .links-dark > a{
  color: #7087ab;
}


.slide-info{
  position: fixed;
  right:5vh;
  top: 30vh;
  font-size: 20px;
  color: white;
   -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.slide-info-dark {
  position: fixed;
  right:5vh;
  top: 30vh;
  font-size: 20px;
  color: #556681;
   -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}


/*Slide 1 content*/

#s8 {
  top: 30vh;
  left: 25%;
  height: 900px;
  position: fixed;
}
.content-title {
  font-size: 8vh;
}
.content-info{
  font-size: 4vh;
}

#ct1 {
  font-family: dincond-bold;
}
#ct1, #ci1{
  color: #556681;
  position: fixed;
  top: 10%;
  left: 50%;
}
#ci1{
  color: #7087AB;
  top: 20%;
}
#ci2 {
  color: #b8c8e1;
  font-size: 3vh;
}

#img1{
  position: fixed;
  height: 350px;
  left: 41%;
  top: 30%;
}

#circle1 {
  position: fixed;
  top: 25%;
  left: 5%;
  width: 150px;
  height: 150px;
  background: #394456;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
#circle2 {
  position: fixed;
  top: 55%;
  left:25%;
  width: 150px;
  height: 150px;
  background: #1e76ff;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
#circle3 {
  position: fixed;
  top: 25%;
  left: 100%;
  width: 150px;
  height: 150px;
  transform: translate(-50%, 0);
  background: #7087AB;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

/*Slide 2 content*/

#ci2-wrapper{
  font-size: 4vh;
  position: fixed;
  width: 400px;
  left: 10%;
  top: 50%;

}

#ci2s{
color: #9c9c9c;
font-size: 4.1vh;
}

/*3rd slide content*/

#drill-wrapper{
  z-index: 100;
  font-size: 3vh;
  position: fixed;
  width:400px;
  left: 63%;
  top: 44%;
}
#drills{
color: #319df0;
font-size: 4vh;
}

#drill{
  position: fixed;
  right:33%;
  top:7vh;
  height: 750px;
}

/*Slide 4 content*/

#vulneyes {
  color: #40e0d0;
  font-size: 4vh;
}
#vulneye-info{
  color: #a6bcc9;
  font-size: 2.8vh;
}
#vulneye {
  position: fixed;
  top: 25vh;
  left: 45%;
  height: 500px;
}

/*Slide 5 content*/

#cs {
  position: fixed;
  top: 23vh;
  left: 45%;
  height: 450px;
}
#css {
  color: white;
  font-size: 4vh;
}
#cs-info{
  color: #aaa;
  font-size: 2.8vh;
}



.background.up-scroll {
  -webkit-transform: translate3d(0, 82vh, 0);
          transform: translate3d(0, 82vh, 0);
}

.background.up-scrolltwo {
  -webkit-transform: translate3d(0, 100vh, 0);
          transform: translate3d(0, 100vh, 0);
}
.background.last-up-scroll {
  -webkit-transform: translate3d(0, 82vh, 0);
          transform: translate3d(0, 82vh, 0);
}


.background.down-scroll {
    -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.down-scroll .content-wrapper {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
}
.background.down-scrolltwo {
    -webkit-transform: translate3d(0, 82vh, 0);
          transform: translate3d(0, 82vh, 0);
}

.background.last-down-scroll {
  -webkit-transform: translate3d(0, 22vh, 0);
          transform: translate3d(0, 22vh, 0);
}

/*Scroll Instruction*/
.scroll-inst{
  font-size: 16px;
  color: #7087AB;
  position: fixed;
  z-index: 10;
  top: 88vh;
  -webkit-transform: rotate(-90deg); 
  transform: rotate(-90deg);
  -webkit-transition: all 1s cubic-bezier(0,.91,.3,.97);
  transition: all 1s cubic-bezier(0,.91,.3,.97);
}


/*Dot navigation*/
.dot-container{
  position: fixed;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 0);
  top: 87vh;
    -webkit-transition: all 1s cubic-bezier(0,.91,.3,.97);
  transition: all 1s cubic-bezier(0,.91,.3,.97);
}

.dot-container .dot-move{
  top: 37vh;
}

.dotstyle ul {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dotstyle li {
  position: relative;
  display: block;
  float: left;
  margin: 0 10px;
  width: 8px;
  height: 8px;
  cursor: pointer;
}

.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #5c5c5c;
  background-color: #5c5c5c;
  text-indent: -999em; /* make the text accessible to screen readers */
  cursor: pointer;
  position: absolute;
}

.dotstyle li a:focus {
  outline: none;
}

.dotstyle-fillin li a {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #7087ab;
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}

.dotstyle-fillin li a:hover,
.dotstyle-fillin li a:focus {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6)
}

.dotstyle-fillin li.current a {
  box-shadow: inset 0 0 0 8px #1e76ff;
}